body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(226, 242, 255, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.input-area, .function-area, .result-area {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.result-area {
    height: 100%;
}

textarea {
    width: 100%;
    height: calc(100% - 50px);
    resize: vertical;
    margin-bottom: 20px;
}

textarea#input {
    height: 200px;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

footer a {
    color: #0073b1;
    text-decoration: none;
}

.function-area {
    /* flex: 0 0 200px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

button {
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.blue-button {
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    display: none;
}

button.blue-button:hover {
    background-color: #0056b3;
}

button.green-button {
    width: 170px;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
}

button.green-button:hover {
    background-color: #38803b;
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .input-area {
        width: 40%;
    }

    .function-area {
        flex-direction: column;
        flex: 0 0 200px;
    }

    .result-area {
        width: 60%;
    }

    textarea {
        height: calc(100% - 80px) !important;
    }

    button.blue-button {
        display: block;
        float: right;
    }
}